.center {
    max-width: 1000px;
    width: 98%;
    margin: 10px auto;
}

.user-profile-container {
    margin-top: 1rem;
}

.user-card:hover {
    margin-top: -5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}

.edit-button {
    position: absolute;
    z-index: 2;
    background-color: white;
    opacity: 0.6;
    right: 1rem;
}

.edit-button:hover {
    opacity: 1;
}

.status {
    vertical-align: text-top;
}