<div class="center">
    <mat-card>
        <mat-card-title>Users</mat-card-title>
        <div class="user-container" fxLayout="row wrap" fxLayoutGap="10px grid">
            <div *ngFor="let user of users" fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
                <mat-card class="user-card">
                    <mat-card-header>
                        <img mat-card-avatar src="{{userService.selectAvatarUrl(user)}}"
                            [routerLink]="['/user', user.id]">
                        <mat-card-title [routerLink]="['/user', user.id]">{{user.name}}
                            <mat-icon class="status" *ngIf="isStatusPlay(user.id)" fontIcon="play_circle"
                                color="primary">
                            </mat-icon>
                            <mat-icon class="status" *ngIf="!isStatusPlay(user.id) && isStatusConnected(user.id)"
                                fontIcon="check_circle" color="primary"></mat-icon>
                            <mat-icon class="status" *ngIf="!isStatusPlay(user.id) && ! isStatusConnected(user.id)"
                                fontIcon="cancel" color="warn"></mat-icon>
                        </mat-card-title>
                        <mat-card-subtitle>{{user.username42}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button mat-icon-button *ngIf="!isFriend(user.id)" (click)="addFriend(user.id)"
                            [disabled]="user.id == loggedInUser?.id" matTooltip="Add friend">
                            <mat-icon>person_add</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="isFriend(user.id)" (click)="removeFriend(user.id)"
                            [disabled]="user.id == loggedInUser?.id" matTooltip="Remove friend">
                            <mat-icon>person_remove</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>