.center {
    max-width: 1000px;
    width: 98%;
    margin: 10px auto;
}

.match {
    margin-bottom: 1em;
}

.match-element {
    color: white;
    margin: 0em;
}

.mat-card-sm-image {
    border-radius: 5em;
}