<div>
    <h2>Please Scan the QR Code with your 'Google Authentication' app</h2>
    <img class="center" [src]="imgToShow" alt="Tfa QR Code" *ngIf="!isImgLoading">
</div>

<div>
        <mat-card fxLayout="column" fxLayoutAlign="stretch center" fxLayoutGap="1rem">
            <mat-card-title>TFA Code Check</mat-card-title>
            <mat-form-field appearance="outline">
                <input matInput
                    class="text"
                    type="text"
                    placeholder="Please Enter Your Tfa Code"
                    [(ngModel)]="tfaCode"
                    maxlength="12"
                    autocomplete="off"
                    >
            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="1rem">
                <button mat-raised-button color="primary" (click)="submitTfaCheck()">Submit</button>
            </div>
        </mat-card>
</div>